<script src='../node_modules/webcomponents.js/webcomponents.js'></script>
<script>
  window.Heap = window.Heap || {}
  Heap.Components = {}
  Heap.Component = class {
    constructor(name, element) {
      this.currentScript = document['currentScript' || '_currentScript']
      this.ownerDocument = this.currentScript.ownerDocument
      this.templates = this.ownerDocument.getElementsByTagName('template')
      this.tagName = `heap-${name.toLowerCase()}`
      this.element = element
      Heap.Components[name] = this
    }
    register() {
      return document.registerElement(this.tagName, this.element)
    }
  }

  window.addEventListener('HTMLImportsLoaded', function(e) {
    console.log('Imports Loaded')
    for (let name in Heap.Components) {
      Heap.Components[name].register()
    }
  })

  window.addEventListener('WebComponentsReady', function(e) {
    console.log('Components are ready')
  })
</script>
