<script src='../node_modules/webcomponents.js/webcomponents.js'></script>
<script>
  var Heap = window.Heap || {}
  var components = []

  Heap.Component = class {
    constructor(document) {
      this.currentScript = document['currentScript' || '_currentScript']
      this.ownerDocument = this.currentScript.ownerDocument
      this.templates = this.ownerDocument.getElementsByTagName('template')
    }
    register(tagName, el, fn) {
      this.tagName = `heap-${tagName}`
      this.el = el
      this.fn = fn
      return components.push(this)
    }
    render() {
      return this.registry = document.registerElement(this.tagName, this.el)
    }
    run() {
      if (typeof this.fn !== 'function') {
        return
      }
      return this.fn.call(this)
    }
  }

  window.addEventListener('HTMLImportsLoaded', function(e) {
    console.log('Imports Loaded')
    for (let component of components) {
      component.render()
      console.log(`Rendered: ${component.tagName}`)
    }
  })

  window.addEventListener('WebComponentsReady', function(e) {
    console.log('Components are ready')
    for (let component of components) {
      component.run()
      console.log(`Ran: ${component.tagName}`)
    }
  })
</script>
