<!-- Plus O'Minus: A better rating system. -->
<template>
  <style>
    :host {}
  </style>
  <button>+</button>
  <button>0</button>
  <button>-</button>
</template>

<script>
  const component = new Heap.Component(document)
  component.register('pom', {
    createdCallback: {
      value: function() {
        const root = this.createShadowRoot();
        const template = component.templates[0];
        const clone = document.importNode(template.content, true);
        root.appendChild(clone);
      }
    }
  })
</script>
