<template>
  <style>
  </style>
  <form>
    <button value='login'>Login</button>
  </form>
</template>
<script>
  new h.c.Component('Session', {
    prototype: Object.create(HTMLElement.prototype, {
      // Lifecycle callbacks
      createdCallback: {
        value: function () {
          console.log('-- createdCallback --')
          const root = this.createShadowRoot()
          const template = h.c.components.Session.templates[0]
          const node = document.importNode(template.content, true)
          root.appendChild(node)
        }
      },
      attachedCallback: {
        value: function () {
          console.log('-- attachedCallback --')
        }
      },
      detachedCallback: {
        value: function () {
          console.log('-- detachedCallback --')
        }
      },
      attributeChangedCallback: {
        value: function () {
          console.log('-- attributeChangedCallback --', arguments)
        }
      }
    })
  })
</script>
