<template>
  <style>
  </style>
  <form>
    <input type='submit' value='+' />
    <input type='submit' value='0' />
    <input type='submit' value='-' />
  </form>
</template>
<script>
  new h.c.Component('Vote', {
    prototype: Object.create(HTMLElement.prototype, {
      // Lifecycle callbacks
      createdCallback: {
        value: function () {
          console.log('-- createdCallback --')
          const root = this.createShadowRoot()
          const template = h.c.components.Vote.templates[0]
          const node = document.importNode(template.content, true)
          root.appendChild(node)

          // Functionality
          const form = root.querySelector('form')
          const inputs = form.querySelectorAll('input[type="submit"]')
          let value

          form.onsubmit = function(e) {
            console.log('submit', value)
            return false
          }
          inputs.forEach(function(input) {
            input.onclick = function(e) {
              value = this.value
            }
          })

          // Cry baby
          const url = [
            h.c.api.host,
            h.c.api.version,
            h.c.api.routes.session
          ].join('/')

          const xhr = h.c.xhr('GET', url)
          xhr.onload = function() {
            console.log('onload', this)
          }
          xhr.send()
        }
      },
      attachedCallback: {
        value: function () {
          console.log('-- attachedCallback --')
        }
      },
      detachedCallback: {
        value: function () {
          console.log('-- detachedCallback --')
        }
      },
      attributeChangedCallback: {
        value: function () {
          console.log('-- attributeChangedCallback --', arguments)
        }
      }
    })
  })
</script>
